.highlight-blue {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #3c5c94;
    -fx-padding: 4 16 4 16;
    -fx-alignment: CENTER;
    -fx-background-radius: 16;
}

.highlight-blue:hover {
    -fx-background-color: #1e2e4a;
}

.team-blue {
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.team-red {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.info-blue {
    -fx-text-fill: blue;
}

.info-red {
    -fx-text-fill: red;
}

.text {
    -fx-font-family: "Roboto", "Arial", sans-serif;
    -fx-font-smoothing-type: gray;
}

.list-cell {
    -fx-background-color: white;
}

.list-view:focused .list-cell:hover:filled {
    -fx-background-color: #ddd;
}

.list-cell:selected:filled {
    -fx-background-color: #ddd;
    -fx-text-fill: black;
}

.list-view:focused .list-cell:filled:selected {
    -fx-background-color: #3c5c94;
    -fx-text-fill: white;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #dddddd;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #eeeeee;
    -fx-pref-height: 28;
}

.table-view .column-header .label {
    -fx-text-fill: #3c5c94;
    -fx-font-weight: bold;
}

.scroll-bar .increment-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

.scroll-bar {
    -fx-pref-width: 10;
    -fx-background-color: transparent;
}

.scroll-bar .track-background {
    visibility: hidden;
}

.scroll-bar .track {
    visibility: hidden;
}

.scroll-bar .thumb {
    -fx-background-color: #ccc;
}