.highlight-blue {
    -fx-font-weight: bold;
    -fx-text-fill: #3c5c94;
    -fx-background-color: #ddd;
    -fx-padding: 3 12 3 12;
    -fx-background-radius: 12;
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-border-radius: 12;
}

.highlight-blue:hover {
    -fx-background-color: #ccc;
}

.team-blue {
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.team-red {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.info-blue {
    -fx-text-fill: blue;
}

.info-red {
    -fx-text-fill: red;
}