.search-block {
    -fx-background-radius: 5;
    -fx-background-color: #404040ee;
    -fx-padding: 10
}

.search-block-special {
    -fx-background-radius: 5;
    -fx-background-color: #404040ee;
    -fx-padding: 0 5 0 10
}

.label {
    -fx-text-fill: white;
}

.search-text-field {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-prompt-text-fill: #aaa;
    -fx-text-fill: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #3c5c94;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5a8ade;
}

.red-button {
    -fx-background-color: #c00;
    -fx-text-fill: white;
}

.red-button:hover {
    -fx-background-color: #f11;
}


.green-button {
    -fx-background-color: #080;
    -fx-text-fill: white;
}

.green-button:hover {
    -fx-background-color: #0a0;
}


.clicker-label-box {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 0 10 0 10
}

.clicker-label-box .label {
    -fx-text-fill: #fb0;
    -fx-underline: true;
}

.clicker-label-box:hover .label {
    -fx-text-fill: #ff0;
}