.search-block {
    -fx-background-radius: 5;
    -fx-background-color: #404040f0;
    -fx-padding: 10
}

.search-block-special {
    -fx-background-radius: 5;
    -fx-background-color: #404040f0;
    -fx-padding: 0 5 0 10
}

.label {
    -fx-text-fill: #ccc;
}

.search-text-field {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-prompt-text-fill: #ccc;
    -fx-text-fill: #ff8800;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #3c5c94;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #5a8ade;
    -fx-text-fill: white;
}